<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>プロジェクト詳細ページ</title>
</head>
<body>
	<div class="container">
		<!--左側に表示するプロジェクト一覧-->
		<div class="side">
			<h3>Projects</h3>
			<div th:each="project: ${projectList}">
				<form action="#" method="get" th:action="@{/home/{id}(id=${project.project_id})}">
					<!-- とりあえずボタンで実装 -->
					<input type="submit" th:value="${project.project_name}" />
				</form>
			</div>

        <!--プロジェクトを追加するためのボタン-->
        <form action="#" method="get" th:action="@{/project_add}">
          <input class="project-add-button add-button" type="submit" value="Add"/>
        </form>
      </div>

      <div class="body">
        <!--右側bodyに表示する要素-->
        <div class="user user">
          <h3>User's Task list</h3>
          <div>
            <table th:each="depart:${departList}">
              <tr>
                <td th:text="${depart.user_name}"></td>
              </tr>
              <tr th:each="task : ${depart.user_task}">
                <td>
                  <p th:text="${task.task_name} +':'+ ${task.task_contents}"></p>
                </td>
                <td>
                  <form action="#" th:action="@{/task_checked/{id}(id=${task.task_id})}"method="get">
                    <input type="submit" value="Check!" />
                  </form>
                </td>
                <td>
                  <form action="#" th:action="@{/task_edit/{id}(id=${task.task_id})}"method="get">
                    <input type="submit" value="Edit" />
                  </form>
                </td>
                <td>
                  <form action="#" th:action="@{/task_edit/{id}(id=${task.task_id})}"method="get">
                    <input type="submit" value="Delete" />
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <form th:action="@{/project_settting/{id}(id=${projectid})}">
          <input type="submit" value="Project Setting" />
        </form>      
      </div>
    </div>
</body>

</html>
