<!DOCTYPE html>


<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>イメージ</title>
</head>

<body>
	<div class="container">
		<div class="side"><!--左側に表示するプロジェクト等の要素-->
			<div class="project project">
				<h1>プロジェクトリスト</h1>
				<table>
					<tr th:each="res:${projectList}">
						<form th:action="@{/home/{id}(id=${res.project_id})}">
							<input type="submit" name="name" th:value='${res.project_name}'>
							<input type="hidden" name="project_id" th:value="${res.project_id}">
						</form>
						<form th:action="@{/project_setting/{id}(id=${res.project_id})}">
							<input type="submit" name="name" value="edit">
							<input type="hidden" name="project_id" th:value="${res.project_id}">
						</form>
						</br>
					</tr>
				</table>

				<!--プロジェクトを追加するためのボタン-->
				<form th:action="@{/project_add}"> <input class="project-add-button add-button" type="submit"
						name="name" value="プロジェクト追加">
				</form>
			</div>
		</div>


		<div class="body"><!--右側bodyに表示する要素-->
			<!-- <div class="user user"> -->
			<h1>ユーザー一覧</h1>
			<table>
				<tr th:each="res:${userList}">
					<form th:action="@{/user/{id}(id=${res.user_id})}">
						<input type="submit" name="name" th:value='${res.user_name}'>
						<input type="hidden" name="user_id" th:value="${res.user_id}">
					</form>
					<form th:action="@{/user_setting/{id}(id=${res.user_id})}">
						<input type="submit" name="name" value="edit">
						<input type="hidden" name="user_id" th:value="${res.user_id}">
					</form>
					</br>
				</tr>
			</table>

			<form th:action="@{/user_add}"><input class="user-button add-button" type="submit" name="name"
					value="ユーザー追加">
			</form>

</body>

</html>