<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>プロジェクトの設定</h1>
    <div>
        <div th:object="${projectData}">
            <form action="#" method="get">
                <label for="project_add">プロジェクト名：</label>
                <input id="project_add" type="text" placeholder="プロジェクト名" th:value="*{project_name}">
                
                <p>追加するユーザーを選択
                    <br></br>
                </p>
                <table>
                    <tr th:each="res:${userList}">
                        <td th:text="${res.user_name}">
                        </td>
                        <td>        
                            <form th:action="@{/project_setting_db/{user_id}/{project_id}/{user_name} (user_id=${res.user_id}, project_id=*{project_id},user_name=${res.user_name})}" method="get">
                                <input type="submit" value="追加">
                            </form> 
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/project_delete/{id}(id=*{project_id})}">
                    <input type="submit" value="プロジェクトの削除">
                </form>
            </div>
            </div>
        </body>

</html>
