<!DOCTYPE html>


<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>イメージ</title>
</head>

<body>
	<div class="container">
		<div class="side"><!--左側に表示するプロジェクト等の要素-->
			<h3>プロジェクト名</h3>
			<table>
				<li class="user"><input type="button" value="プロジェクト１"></li>
				<li class="user"><input type="button" value="プロジェクト2"></li>
			</table>
			<!--プロジェクトを追加するためのボタン-->
			<form th:action="@{/project}"> <input class="project-button add-button" type="submit" name="name"
					value="プロジェクト追加">
			</form>
		</div>

		<div class="body"><!--右側bodyに表示する要素-->
			<div class="user user1">
				<h3>user1</h3>
				<div>
					<label>
						<input type="checkbox" id="horns" name="horns"></input><!--チェックボックスの生成-->タスク1:タスク内容
					</label>
					<input id="list-margin" type="button" value="edit"><!--ユーザー名と修正ボタンの追加-->
				</div>

				<div>
					<label>
						<input type="checkbox" id="horns" name="horns"></input><!--チェックボックスの生成-->タスク2:
					</label>
					<input id="list-margin" type="button" value="edit"><!--ユーザー名と修正ボタンの追加-->
				</div>

				<div>
					<label>
						<input type="checkbox" id="horns" name="horns"></input><!--チェックボックスの生成-->タスク3:
					</label>
					<input id="list-margin" type="button" value="edit"><!--ユーザー名と修正ボタンの追加-->
				</div>
				<input type="button" value="add">
			</div>

			<div class="user user2">
				<h3>user2</h3>
				<div>
					<label>
						<input type="checkbox" id="horns" name="horns"></input><!--チェックボックスの生成-->タスク1:タスク内容
					</label>
					<input id="list-margin" type="button" value="edit"><!--ユーザー名と修正ボタンの追加-->
				</div>

				<div>
					<label>
						<input type="checkbox" id="horns" name="horns"></input><!--チェックボックスの生成-->タスク2:
					</label>
					<input id="list-margin" type="button" value="edit"><!--ユーザー名と修正ボタンの追加-->
				</div>

				<div>
					<label>
						<input type="checkbox" id="horns" name="horns"></input><!--チェックボックスの生成-->タスク3:
					</label>
					<input id="list-margin" type="button" value="edit"><!--ユーザー名と修正ボタンの追加-->
				</div>
				<input type="button" value="add">
			</div>

			<form th:action="@{/user_add}"><input class="user-button add-button" type="submit" name="name" value="ユーザー追加">
			</form>

		</div>
</body>

</html>