<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <h1>プロジェクトの設定</h1>

        <div>
            <a>プロジェクト名</a>
                <input type="text">
                <th:action="@{/project_setting_db}">
            <table>
                <tr th:each="res:${userList}">
                    <form th:action="@{/user/{id}}"></br>
                        <input type="checkbox">
       
                            <input type="submit" name="name" th:value='${res.user_name}'>
                             <input type="hidden" name="user_id" th:value="${res.user_id}">
                    </form>
                    </br>
                </tr>
            </table>


        <form th:action="@{/project_add}">
            <input class="user-button add-button" type="submit" name="name"
                value="更新">
            <input class="user-button add-button" type="submit" name="name"
                value="削除">
        </form>
        </div>




<!--    <form action="#" method="get" th:action="@{/project_add}">
            <label for="test1">ユーザー名：</label>
            <input id="text1" type="text" placeholder="ユーザー名"><br>
            <div>
                <input id="text2" type="checkbox">
                <label for="text2">user1</label>
                <input id="text3" type="checkbox">
                <label for="text3">user2</label>
                <input id="text4" type="checkbox">
                <label for="text4">user3</label>
            </div>
            <input type="submit" value="追加">
        </form> -->

    </body>
</html>