<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>task_edit</title>
    </head>
    <body>
        <h1>タスクの編集</h1>
        <form action="#" method="get" th:action="@{/home}" th:object="${enttask}">
            <div>タスク名　<input type="text" name="name1" th:value="*{name1}" ></div>
            <div>期限　　　<input type="date" name="comment1" th:value="*{comment1}" ></div>
            <div>内容　　　<input type="text" name="comment1" th:value="*{comment1}" style="width:83%"></div>
            <input type="submit" value="送信">
        </form>
    </body>
</html>