<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>task_add</title>
    </head>
    <body>
        <h1>タスクの追加</h1>
        <form action="#" method="get" th:action="@{/task_add_db}" th:object="${enttask}">
            <div>タスク名 <input type="text" name="task_name"></div>
            <div>期限     <input type="date" name="task_limit"></div>
            <div>内容     <input type="text" name="task_contents" style="width:80%"></div>
            <input type="submit" value="追加">
        </form>
    </body>
</html>