<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザーの編集</title>
</head>

<body>
    <h1>ユーザーの編集</h1>

    <form th:action="@{/user_edit}" th:object="${entuser}">
        <input type="text hidden" name="user_name" placeholder="ユーザー名" th:value="*{user_name}">
        <input type="submit" value="完了">
    </form>
    <form th:action="@{/user/delete/{id}(id=${res.id})}">
        <input type="submit" value="削除" />
    </form>
</body>

</html>